<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/src/assets/favicon.png">
        <link rel="stylesheet" href="/src/style.css" />
        <script type="module" src="/src/main.js"></script>

        <title>holipop.art &centerdot; {{title}}</title>
    </head>
    <body class="article">
        {{#if image}}
            <div class="article-image__wrapper">
                <img class="article-image" src="/src/assets/background/{{image}}.png">
            </div>
        {{/if}}

        <header class="article-header">
            <h1 class="article-header__title">{{title}}</h1>
            {{#if alt}}
                <span class="article-header__subtitle">or, &quot;{{alt}}&quot;</span>
                <span class="article-header__subtitle">&centerdot; </span>
            {{/if}}
            <span class="article-header__subtitle">{{date}}</span>
        </header>

        <section class="content">
            {{{content}}}
        </section>

        <span class="copyright">
            holipop &copy; 2025
        </span>
    </body>
</html>